input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    border: none;
    box-sizing: border-box;
  }

*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}
.div {
    display: flex;
    flex-direction: row;
    width: 557px;
    opacity: 1.1;
    justify-content: center;
    padding-top: 130px;
    padding-bottom: 130px;
    padding-right: 513px;
    padding-left: 513px;
    background-image: url("https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F2953b3031f7243d899767a14277f3d54");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .div-2 {
    display: flex;
    flex-direction: column;
    max-width: 461.4081726074219px;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 40px;
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.07999999821186066);
    padding-top: 140px;
    padding-bottom: 140px;
    padding-right: 37px;
    padding-left: 37px;
    border-color: rgba(0, 0, 0, 0.28999999165534973);
    border-width: 1px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.8999999761581421);
  }
  .div-3 {
    display: flex;
    max-width: 387.4081726074219px;
    height: 38.4615364074707px;
    width: 387.4081726074219px;
    border-radius: 9px;
    border-color: rgba(66, 133, 244, 1);
    border-width: 1px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 1);
  }
  .div-4 {
    display: flex;
    max-width: 387.4081726074219px;
    height: 38.4615364074707px;
    width: 387.4081726074219px;
    margin-top: 57px;
    border-radius: 9px;
    border-color: rgba(173, 173, 173, 1);
    border-width: 1px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 1);
  }
  .button {
    display: flex;
    max-width: 387.4081726074219px;
    height: 38.4615364074707px;
    width: 387.4081726074219px;
    margin-top: 57px;
    border-radius: 9px;
    border: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 166px;
    padding-left: 166px;
    background-color: rgba(80, 205, 93, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Poppins, sans-serif;
  }

  .button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
